
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 10px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
    
    
}

.left-section {
    display: flex;
    
}
.hamburger-icon {
    margin-right: 20px;
}






.center-section {
    
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 700px;
    display: flex;
    align-items: center;
    
}
.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
    
}

.search-bar {
    flex: 1;
    height: 35px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    border-radius: 1px;
    box-shadow: inset 1px 2px 2px rgba(0,0,0,0.05)
}


.search-button {
    height: 39px;
    width: 60px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    margin-left: -1px;
    margin-right: 10px;
    
}

.search-button, .microphone-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .tooltip,
.microphone-button .tooltip {
    position: absolute;
    font-size: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: grey;
    border-radius: 2px;
    bottom: -25px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    
}


.search-button:hover .tooltip,
.microphone-button:hover .tooltip {
    background-color: rgb(228, 222, 222);
    opacity: 1;
    

}


.microphone-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    
}

.micro-button:hover {
    background-color: rgb(228, 222, 222);
}

.search-image {
    height: 20px;

}

.micro-image {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: none;

    
}
.right-section {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    
    
}
.video-button {
    height: 40px;
    width: 40px;
    border: none;
    background-color: white;
    
}

.video-image {
    height: 20px;
    width: 20px;
}

.grid-button {
    height: 40px;
    width: 40px;
    border: none;
    background-color: white;
}

.grid-image{ 
    height: 20px;
    width: 20px;
}

.bell-button {
    height: 40px;
    width: 40px;
    border: none;
    background-color: white;
}

.bell-image {
    height: 20px;
    width: 20px;
}

.profile-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: white;
}

.profile-button:hover {
    cursor: pointer;

}

.profile-image {
    height: 27px;
    width: 27px;
    border-radius: 50%;
    
}